<igx-grid #grid (cellEdit)='cellEdit($event)' [data]="localData" primaryKey="Id" (cellEditDone)="write()">
  <igx-column field="Event" header="Категорія" width="auto" [resizable]="true" [groupable]="true">
    <ng-template igxCell let-cell="cell" let-val>
      {{ cell.row.data.Tag + cell.row.data.TagId }}
    </ng-template>
  </igx-column>
  <igx-column field="Description" header="Ризикова подія" [resizable]="true">
  </igx-column>
  <igx-column field="ER" header="ERPER" width="85px" dataType="number" [resizable]="true">
  </igx-column>
  <igx-column field="LRERAfter" header="ELRER" width="85px" [resizable]="true" dataType="number" [editable]="true" min="0" max="1">
  </igx-column>
  <igx-column header="EVRER" width="175px" [resizable]="true" dataType="number" [hasSummary]="true" [summaries]="summary">
    <ng-template igxCell let-cell="cell">
      {{ (cell.row.data.LRERAfter * cell.row.data.ER).toFixed(2) }}
    </ng-template>
  </igx-column>
  <igx-column header="Пріоритет" [resizable]="true" width="auto">
    <ng-template igxCell let-cell="cell">
      {{ getPriority(cell.row.data) }}
    </ng-template>
  </igx-column>
</igx-grid>
