@import url("https://static.infragistics.com/xplatform/css/samples/shared.v6.css");

.container {
    display: flex;
    flex-direction: row;
}

.options {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 20rem;
    
}
