<div class="container vertical sample">
  <!--<div class="legend">
    <igx-legend name="Legend"
                #legend
                orientation="Horizontal">
    </igx-legend>
                    [legend]="legend" in data chart
  </div>-->
  <div class="options">
    <span>Експерт галузі <igx-checkbox [(ngModel)]="show[0]"></igx-checkbox></span>
    <span>Експерт юзабіліті <igx-checkbox [(ngModel)]="show[1]"></igx-checkbox></span>
    <span>Експерт програмування <igx-checkbox [(ngModel)]="show[2]"></igx-checkbox></span>
    <span>Потенційні користувачі <igx-checkbox [(ngModel)]="show[3]"></igx-checkbox></span>
    <span>Усереднені оцінки <igx-checkbox [(ngModel)]="show[4]"></igx-checkbox></span>
    <br />
    <igx-grid #grid [data]="gridData" primaryKey="idx">
      <igx-column field="name" header="Експерти" width="auto" [resizable]="true" [hasSummary]="true">
        <ng-template igxSummary let-summaryResults>
          <div class="summary">Середні значення:</div>
        </ng-template>
      </igx-column>
      <igx-column field="value" header="Вагомості" width="auto" [resizable]="true">
        <ng-template igxCell let-cell="cell" let-val>
          {{ val / 10 }}
        </ng-template>
      </igx-column>
      <igx-column field="S" header="S" width="auto" [resizable]="true" [hasSummary]="true">
        <ng-template igxCell let-cell="cell" let-val>
          {{ val.toFixed(2) }}
        </ng-template>
        <ng-template igxSummary let-summaryResults>
          <div class="summary">{{ ((gridData[0].S + gridData[1].S + gridData[2].S + gridData[3].S) / 4).toFixed(4) }}</div>
        </ng-template>
      </igx-column>
      <igx-column field="z" header="z" width="auto" [resizable]="true" [hasSummary]="true">
        <ng-template igxCell let-cell="cell" let-val>
          {{ val.toFixed(4) }}
        </ng-template>
        <ng-template igxSummary let-summaryResults>
          <div class="summary">{{ ((gridData[0].z + gridData[1].z + gridData[2].z + gridData[3].z) / 4).toFixed(4) }}</div>
        </ng-template>
      </igx-column>
      <igx-column field="S" header="Sv" width="auto" [resizable]="true">
        <ng-template igxCell let-cell="cell" let-val>
          {{ spec(cell.row.data.idx).toFixed(2) }}
        </ng-template>
      </igx-column>
      <igx-column field="S" header="Svr" width="auto" [resizable]="true">
        <ng-template igxCell let-cell="cell" let-val>
          {{ (spec(cell.row.data.idx) / 31415.93).toFixed(4) }}
        </ng-template>
      </igx-column>
    </igx-grid>
  </div>
  <div class="container fill">
    <igx-data-chart name="chart"
                    #chart
                    isHorizontalZoomEnabled="false"
                    isVerticalZoomEnabled="false">
      <igx-numeric-angle-axis name="angleAxis"
                              #angleAxis
                              startAngleOffset="0"
                              interval="30"
                              minimumValue="0"
                              maximumValue="360"
                              isInverted="true">
      </igx-numeric-angle-axis>
      <igx-numeric-radius-axis name="radiusAxis"
                               #radiusAxis
                               radiusExtentScale="0.9"
                               innerRadiusExtentScale="0.1"
                               interval="25"
                               minimumValue="0"
                               maximumValue="100">
      </igx-numeric-radius-axis>
      <igx-polar-area-series *ngIf="show[0]"
                             name="PolarAreaSeries1"
                             #polarAreaSeries1
                             [dataSource]="localData"
                             [angleAxis]="angleAxis"
                             [radiusAxis]="radiusAxis"
                             angleMemberPath="angle0"
                             radiusMemberPath="radius0"
                             showDefaultTooltip="false"
                             areaFillOpacity="0.8"
                             thickness="1"
                             [title]="externalData.expertsWeighting[0].name"
                             markerType="Circle"
                             [angleMemberAsLegendLabel]="'v'">
      </igx-polar-area-series>
      <igx-polar-area-series *ngIf="show[1]"
                             name="PolarAreaSeries2"
                             #polarAreaSeries2
                             [dataSource]="localData"
                             [angleAxis]="angleAxis"
                             [radiusAxis]="radiusAxis"
                             angleMemberPath="angle1"
                             radiusMemberPath="radius1"
                             showDefaultTooltip="false"
                             areaFillOpacity="0.8"
                             thickness="1"
                             [title]="externalData.expertsWeighting[1].name"
                             markerType="Circle">
      </igx-polar-area-series>
      <igx-polar-area-series *ngIf="show[2]"
                             name="PolarAreaSeries3"
                             #polarAreaSeries3
                             [dataSource]="localData"
                             [angleAxis]="angleAxis"
                             [radiusAxis]="radiusAxis"
                             angleMemberPath="angle2"
                             radiusMemberPath="radius2"
                             showDefaultTooltip="false"
                             areaFillOpacity="0.8"
                             thickness="1"
                             [title]="externalData.expertsWeighting[2].name"
                             markerType="Circle">
      </igx-polar-area-series>
      <igx-polar-area-series *ngIf="show[3]"
                             name="PolarAreaSeries4"
                             #polarAreaSeries4
                             [dataSource]="localData"
                             [angleAxis]="angleAxis"
                             [radiusAxis]="radiusAxis"
                             angleMemberPath="angle3"
                             radiusMemberPath="radius3"
                             showDefaultTooltip="false"
                             areaFillOpacity="0.8"
                             thickness="1"
                             [title]="externalData.expertsWeighting[3].name"
                             markerType="Circle">
      </igx-polar-area-series>
      <igx-polar-area-series *ngIf="show[4]"
                             name="PolarAreaSeries5"
                             #polarAreaSeries5
                             [dataSource]="localData"
                             [angleAxis]="angleAxis"
                             [radiusAxis]="radiusAxis"
                             angleMemberPath="angle4"
                             radiusMemberPath="radius4"
                             showDefaultTooltip="false"
                             areaFillOpacity="0.8"
                             thickness="1"
                             [title]="externalData.expertsWeighting[4].name"
                             markerType="Circle">
      </igx-polar-area-series>
      <igx-data-tool-tip-layer name="DataToolTipLayer"
                               #dataToolTipLayer>
      </igx-data-tool-tip-layer>
    </igx-data-chart>
  </div>
</div>

