<igx-grid #grid (cellEdit)='cellEdit($event)' [data]="localData" primaryKey="Id" (cellEditDone)="write()">
  <igx-column field="Id" header="№ з/п" width="auto" [resizable]="true">
  </igx-column>
  <igx-column field="Name" header="Критерії" width="225px" [resizable]="true" [hasSummary]="true">
    <ng-template igxSummary let-summaryResults>
      <div title="Усереднені оцінки">Усереднені оцінки:</div>
      <div title="Оцінки з врахуванням вагомості експертів">Оцінки з врахуванням вагомості експертів:</div>
    </ng-template>
  </igx-column>
  <igx-column-group [header]="'Оцінки експертів'">
    <igx-column [field]="'IndustryEstimation'" [header]="'галузі, q=' + weightings[0].value / 10" width="125px" dataType="number" [resizable]="true" [hasSummary]="true">
      <ng-template igxCell let-cell="cell">
        {{ (cell.row.data.IndustryWeighting * cell.row.data.IndustryEstimation).toFixed(2) }}
      </ng-template>
      <ng-template igxSummary let-summaryResults>
        <div class="summary">{{ getAvereged1(0).toFixed(2) }}</div>
        <div class="summary">{{ getAvereged2(0).toFixed(2) }}</div>
      </ng-template>
    </igx-column>
    <igx-column [field]="'UsabilityEstimation'" [header]="'юзабіліті, q=' + weightings[1].value / 10" width="125px" dataType="number" [resizable]="true" [hasSummary]="true">
      <ng-template igxCell let-cell="cell">
        {{ (cell.row.data.UsabilityWeighting * cell.row.data.UsabilityEstimation).toFixed(2) }}
      </ng-template>
      <ng-template igxSummary let-summaryResults>
        <div class="summary">{{ getAvereged1(1).toFixed(2) }}</div>
        <div class="summary">{{ getAvereged2(1).toFixed(2) }}</div>
      </ng-template>
    </igx-column>
    <igx-column [field]="'ProgrammingEstimation'" [header]="'програмування, q=' + weightings[2].value / 10" width="125px" dataType="number" [resizable]="true" [hasSummary]="true">
      <ng-template igxCell let-cell="cell">
        {{ (cell.row.data.ProgrammingWeighting * cell.row.data.ProgrammingEstimation).toFixed(2) }}
      </ng-template>
      <ng-template igxSummary let-summaryResults>
        <div class="summary">{{ getAvereged1(2).toFixed(2) }}</div>
        <div class="summary">{{ getAvereged2(2).toFixed(2) }}</div>
      </ng-template>
    </igx-column>
    <igx-column [field]="'UsersEstimation'" [header]="'користувачів, q=' + weightings[3].value / 10" width="125px" dataType="number" [resizable]="true" [hasSummary]="true">
      <ng-template igxCell let-cell="cell">
        {{ (cell.row.data.UsersWeighting * cell.row.data.UsersEstimation).toFixed(2) }}
      </ng-template>
      <ng-template igxSummary let-summaryResults>
        <div class="summary">{{ getAvereged1(3).toFixed(2) }}</div>
        <div class="summary">{{ getAvereged2(3).toFixed(2) }}</div>
      </ng-template>
    </igx-column>
  </igx-column-group>
  <igx-column-group [header]="'Усереднені оцінки'">
    <igx-column [field]="'UsersEstimation'" header="показника" width="125px" dataType="number" [resizable]="true" [hasSummary]="true">
      <ng-template igxCell let-cell="cell">
        {{ getEstimation1(cell.row.data.Id - 1).toFixed(2) }}
      </ng-template>
      <ng-template igxSummary let-summaryResults>
        <div class="summary">{{ getSpec00().toFixed(2) }}</div>
        <div class="summary">{{ getSpec10().toFixed(2) }}</div>
      </ng-template>
    </igx-column>
    <igx-column [field]="'UsersEstimation'" header="оцінок" width="125px" dataType="number" [resizable]="true" [hasSummary]="true">
      <ng-template igxCell let-cell="cell">
        {{ getEstimation2(cell.row.data.Id - 1).toFixed(2) }}
      </ng-template>
      <ng-template igxSummary let-summaryResults>
        <div class="summary">{{ getSpec01().toFixed(2) }}</div>
        <div class="summary">{{ getSpec11().toFixed(2) }}</div>
      </ng-template>
    </igx-column>
  </igx-column-group>
</igx-grid>
