<div class="heading">
  Показати оцінки експертів<igx-checkbox [ngModel]="evaluations" (ngModelChange)="setEvaluations($event)"></igx-checkbox>
  Показати вагові коефіцієнти<igx-checkbox [ngModel]="factors" (ngModelChange)="setFactors($event)"></igx-checkbox>
</div>
<igx-grid #grid (cellEdit)='cellEdit($event)' [data]="localData" primaryKey="Id" (cellEditDone)="write()">
  <igx-column field="Id" header="№ з/п" width="auto" [resizable]="true">
  </igx-column>
  <igx-column field="Name" header="Критерії" [resizable]="true" [hasSummary]="true">
    <ng-template igxSummary let-summaryResults>
      <div style="margin: 20px 0">Середні значення:</div>
    </ng-template>
  </igx-column>
  <igx-column-group [header]="evaluations ? (factors ? 'Вагові коефіцієнти та оцінки експертів' : 'Оцінки експертів') : 'Вагові коефіцієнти експертів'">
    <igx-column [field]="evaluations ? 'IndustryEstimation' : 'IndustryWeighting'" [header]="'галузі'" width="125px" dataType="number" [resizable]="true" [editable]="!(evaluations && factors)" min="0" max="10" [hasSummary]="true">
      <ng-template igxCell let-cell="cell">
        {{ evaluations ? (factors ? cell.row.data.IndustryWeighting.toString() + '/' + cell.row.data.IndustryEstimation.toString() : cell.row.data.IndustryEstimation) : cell.row.data.IndustryWeighting }}
      </ng-template>
      <ng-template igxSummary let-summaryResults>
        <div class="summary">{{ summary(0) }}</div>
      </ng-template>
    </igx-column>
    <igx-column [field]="evaluations ? 'UsabilityEstimation' : 'UsabilityWeighting'" [header]="'юзабіліті'" width="125px" dataType="number" [resizable]="true" [editable]="!(evaluations && factors)" min="0" max="10" [hasSummary]="true">
      <ng-template igxCell let-cell="cell">
        {{ evaluations ? (factors ? cell.row.data.UsabilityWeighting.toString() + '/' + cell.row.data.UsabilityEstimation.toString() : cell.row.data.UsabilityEstimation) : cell.row.data.UsabilityWeighting }}
      </ng-template>
      <ng-template igxSummary let-summaryResults>
        <div class="summary">{{ summary(1) }}</div>
      </ng-template>
    </igx-column>
    <igx-column [field]="evaluations ? 'ProgrammingEstimation' : 'ProgrammingWeighting'" [header]="'програмування'" width="125px" dataType="number" [resizable]="true" [editable]="!(evaluations && factors)" min="0" max="10" [hasSummary]="true">
      <ng-template igxCell let-cell="cell">
        {{ evaluations ? (factors ? cell.row.data.ProgrammingWeighting.toString() + '/' + cell.row.data.ProgrammingEstimation.toString() : cell.row.data.ProgrammingEstimation) : cell.row.data.ProgrammingWeighting }}
      </ng-template>
      <ng-template igxSummary let-summaryResults>
        <div class="summary">{{ summary(2) }}</div>
      </ng-template>
    </igx-column>
    <igx-column [field]="evaluations ? 'UsersEstimation' : 'UsersWeighting'" [header]="'користувачів'" width="125px" dataType="number" [resizable]="true" [editable]="factors && !evaluations" min="0" max="10" [hasSummary]="true">
      <ng-template igxCell let-cell="cell">
        {{ evaluations ? (factors ? cell.row.data.UsersWeighting.toString() + '/' + cell.row.data.UsersEstimation.toString() : cell.row.data.UsersEstimation) : cell.row.data.UsersWeighting }}
      </ng-template>
      <ng-template igxSummary let-summaryResults>
        <div class="summary">{{ summary(3) }}</div>
      </ng-template>
    </igx-column>
  </igx-column-group>
  <igx-column [field]="'UsersEstimation'" header="Середнє" width="175px" dataType="number" [resizable]="true" [hasSummary]="true">
    <ng-template igxCell let-cell="cell">
      {{ average(cell.row.data) }}
    </ng-template>
    <ng-template igxSummary let-summaryResults>
      <div class="summary">{{ summary(4) }}</div>
    </ng-template>
  </igx-column>
</igx-grid>
