<igx-grid #grid [data]="localData" primaryKey="Id" (cellEditDone)="write()">
  <igx-column field="Event" header="Категорія" width="auto" [resizable]="true" [groupable]="true">
    <ng-template igxCell let-cell="cell" let-val>
      {{ cell.row.data.Tag + cell.row.data.TagId }}
    </ng-template>
  </igx-column>
  <igx-column field="Description" header="Ризикова подія" [resizable]="true">
  </igx-column>
  <igx-column field="Solution" header="Рішення" width="30%" [editable]="true" [resizable]="true">
    <ng-template igxCellEditor  let-cell="cell">
      <igx-select class="cell-select" [(ngModel)]="cell.editValue">
        <igx-select-item *ngFor="let solution of solutions" [value]="solution">
          {{ solution }}
        </igx-select-item>
      </igx-select>
    </ng-template>
  </igx-column>
</igx-grid>
