.content-wrap{
    height: 100%;
}

:host ::ng-deep #main + * {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
}

main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
