<div class="content-wrap" igxLayout>
  <igx-nav-drawer #drawer [isOpen]="true" [enableGestures]="true" width="280px">
    <ng-template igxDrawer>
      <igx-tree #tree>
        <igx-tree-node [data]="route.data?.['displayName']" *ngFor="let route of routes">
          {{ route.data?.['displayName'] }}
          <igx-tree-node [data]="child.data?.['displayName']" *ngFor="let child of route.children">
            <a igxTreeNodeLink [routerLink]="route.path + '/' + child.path">{{ child.data?.['displayName'] }}</a>
          </igx-tree-node>
        </igx-tree-node>
      </igx-tree>
    </ng-template>
  </igx-nav-drawer>

  <main igxFlex>
    <div>
      <span igxButton="icon" igxToggleAction="navigation" (click)="drawer.toggle()">
        <igx-icon family="material">menu</igx-icon>
      </span>
      {{ selectedContent }}
    </div>
    <router-outlet id="main"></router-outlet>
  </main>
</div>
