<igx-grid #grid (cellEdit)='cellEdit($event)' [data]="localData" primaryKey="Id" (cellEditDone)="write()">
  <igx-column field="Event" header="Категорія" width="auto" [resizable]="true" [groupable]="true">
    <ng-template igxCell let-cell="cell" let-val>
      {{ cell.row.data.Tag + cell.row.data.TagId }}
    </ng-template>
  </igx-column>
  <igx-column field="Description" header="Ризикова подія" [resizable]="true">
  </igx-column>
  <igx-column field="ER" header="ER" width="75px" dataType="number" [resizable]="true">
  </igx-column>
  <igx-column min="0" max="1" field="LRER" header="LRER" width="85px" [resizable]="true" dataType="number" [editable]="true">
  </igx-column>
  <igx-column header="VRER" width="175px" [resizable]="true" dataType="number" [hasSummary]="true" [summaries]="summary">
    <ng-template igxCell let-cell="cell">
      {{ (cell.row.data.LRER * cell.row.data.ER).toFixed(2) }}
    </ng-template>
  </igx-column>
  <igx-column header="Пріоритет" [resizable]="true" width="auto">
    <ng-template igxCell let-cell="cell">
      {{ getPriority(cell.row.data) }}
    </ng-template>
  </igx-column>
</igx-grid>
