<igx-grid #grid (cellEdit)='cellEdit($event)' [data]="localData" primaryKey="Id" (cellEditDone)="write()">
  <igx-column field="Id" header="№ з/п" width="auto" [resizable]="true">
  </igx-column>
  <igx-column field="Name" header="Критерії" [resizable]="true">
  </igx-column>
  <igx-column-group header="Оцінки потенційних користувачів">
    <igx-column *ngFor="let col of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19];index as i" [field]="'Value' + i.toString()" [header]="(i+1).toString()" width="75px" dataType="number" [resizable]="true" [editable]="true" min="0" max="10"></igx-column>
  </igx-column-group>
  <igx-column header="Середнє" width="175px" dataType="number" [resizable]="true" ><!--[hasSummary]="true" [summaries]="summary">-->
    <ng-template igxCell let-cell="cell">
      {{ average(cell.row.data) }}
    </ng-template>
  </igx-column>
</igx-grid>
