<igx-grid #grid [data]="localData" primaryKey="Id" (cellEditDone)="write()">
  <igx-column field="name" header="Типи експертів" width="auto" [resizable]="true">
  </igx-column>
  <igx-column-group header="Коефіцієнти вагомості, qk">
    <igx-column field="value" header="абсолютні" [editable]="true" [resizable]="true" [hasSummary]="true" min="0" max="10">
    <ng-template igxSummary let-summaryResults>
      <div class="summary">{{ getAvgRel() * 10 }}</div>
    </ng-template>
    </igx-column>
    <igx-column field="value" header="відносні" [resizable]="true" [hasSummary]="true">
      <ng-template igxCell let-cell="cell" let-val>
        {{ val / 10 }}
      </ng-template>
      <ng-template igxSummary let-summaryResults>
        <div class="summary">{{ getAvgRel() }}</div>
      </ng-template>
    </igx-column>
  </igx-column-group>
</igx-grid>
