<igx-grid #grid (cellEdit)='cellEdit($event)' [data]="localData" primaryKey="Id" (cellEditDone)="write()">
  <igx-column field="Event" header="Категорія" width="auto" [resizable]="true" [groupable]="true">
    <ng-template igxCell let-cell="cell" let-val>
      {{ cell.row.data.Tag + cell.row.data.TagId }}
    </ng-template>
  </igx-column>
  <igx-column field="Description" header="Ризикова подія" [resizable]="true">
  </igx-column>
  <igx-column-group header="Оцінки експертів">
    <igx-column field="Value0" header="1" width="75px" dataType="number" [resizable]="true" [editable]="true" min="0" max="1"></igx-column>
    <igx-column field="Value1" header="2" width="75px" dataType="number" [resizable]="true" [editable]="true" min="0" max="1"></igx-column>
    <igx-column field="Value2" header="3" width="75px" dataType="number" [resizable]="true" [editable]="true" min="0" max="1"></igx-column>
    <igx-column field="Value3" header="4" width="75px" dataType="number" [resizable]="true" [editable]="true" min="0" max="1"></igx-column>
    <igx-column field="Value4" header="5" width="75px" dataType="number" [resizable]="true" [editable]="true" min="0" max="1"></igx-column>
    <igx-column field="Value5" header="6" width="75px" dataType="number" [resizable]="true" [editable]="true" min="0" max="1"></igx-column>
    <igx-column field="Value6" header="7" width="75px" dataType="number" [resizable]="true" [editable]="true" min="0" max="1"></igx-column>
    <igx-column field="Value7" header="8" width="75px" dataType="number" [resizable]="true" [editable]="true" min="0" max="1"></igx-column>
    <igx-column field="Value8" header="9" width="75px" dataType="number" [resizable]="true" [editable]="true" min="0" max="1"></igx-column>
    <igx-column field="Value9" header="10" width="75px" dataType="number" [resizable]="true" [editable]="true" min="0" max="1"></igx-column>
  </igx-column-group>
  <igx-column header="ER" width="175px" dataType="number" [resizable]="true" [hasSummary]="true" [summaries]="summary">
    <ng-template igxCell let-cell="cell">
      {{ average(cell.row.data) }}
    </ng-template>
  </igx-column>
</igx-grid>
