<igx-grid #grid [data]="localData" primaryKey="Id">
  <igx-column field="Event" header="Категорія" width="auto" [resizable]="true" [groupable]="true">
    <ng-template igxCell let-cell="cell" let-val>
      {{ cell.row.data.Tag + cell.row.data.TagId }}
    </ng-template>
  </igx-column>
  <igx-column field="Description" header="Ризикова подія" [resizable]="true">
  </igx-column>
  <igx-column field="Value" header="Значення" width="20%" dataType="boolean" [resizable]="true" [hasSummary]="true" [summaries]="summary">
    <ng-template igxCell let-cell="cell">
      <igx-checkbox [ngModel]="cell.value" (ngModelChange)="cell.update($event);write();"></igx-checkbox>
    </ng-template>
  </igx-column>
</igx-grid>
